include README.md
include LICENSE
include SECURITY.md
include requirements.txt
recursive-include hierarchical_blockchain *.py
recursive-exclude tests *
recursive-exclude testing *
recursive-exclude demo *
recursive-exclude docs *
recursive-exclude .github *